/* Root */
:root {
    --main-color: rgb(0, 97, 255)
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Open Sans", sans-serif;
}

button {
    color: white;
    background-color: var(--main-color);
    border: 0;
    padding: 10px 15px;
    font-size: 16px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row>.col-30 {
    flex-basis: 30%;
}

.fa-sharp {
    color: var(--main-color);
}

.row>.col-70 {
    flex-basis: 70%;
}

.row.col-30 {
    gap: 40px;
}

.row.col-30>.col {
    flex-basis: calc(100% / 3 - 80px / 3);
    min-height: 150px;

    flex-grow: 1;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Utils */
.flex {
    display: flex;
}

h1 {
    font-size: 50px;
    padding-top: 45px;
}

.gr-text {
    color: grey;
    font-style: italic;
    display: block;
    margin-bottom: 40px;
}

h2 {
    font-size: 40px;
}

ul {
    list-style-type: none;
}

h3 {
    margin: 15px 0;
    font-size: 25px;
    margin-bottom: 10px;
}

h4 {
    padding-top: 60px;
    padding-bottom: 30px;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    align-items: baseline;

}

li {
    margin-bottom: 10px;
}

.link-blank {
    text-decoration: none;
    color: black;
    padding: 0 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px dashed; */
}

/* Navbar */
.nav,
.nav-left,
.nar-right {
    height: 100px;
    /* border: 2px dashed black; */
    background-color: white;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.nav {
    width: 100%;
}

#logo-small {
    height: 30px;
    padding-left: 20px;
}

#logo-small:hover {
    cursor: pointer;
}

#btn-start,
#btn-start:hover {
    margin-right: 15px;
    cursor: pointer;
}

/* Welcome Section */
.bg-blue {
    background-color: rgb(180, 208, 231);
}

.welcome {
    margin-top: 50px;
}

.welcome-title {
    font-weight: 900;
    font-size: 70px;
}

.welcome-left {
    width: 30%;
}

#jumbo {
    height: 450px;
    position: relative;
    left: 400px;
}

.welcome-right {
    width: 70%;
    position: absolute;
}

#btn-trial {
    margin: 20px 0;
}

#down-arrow {
    font-size: 70px;
    margin: 40px 0;
}

/* Pricing section */
.pricing {
    max-width: 1000px;
    margin: 150px auto;
    /* border: 2px dashed; */
}

.pricing .col {
    border: 1px solid lightgrey;
}

.btn-marked {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    text-align: center;
    border: var(--main-color) 5px solid;
    background-color: white;
    cursor: pointer;
    margin-right: 5px;
}

.btn-unmarked {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    text-align: center;
    border: grey 2px solid;
    background-color: white;
    cursor: pointer;
    margin-right: 5px;
}

#plan-choice {
    line-height: 1.5em;
    margin-right: 25px;
}

.billing-plans {
    display: flex;
    margin: 40px 0;
}

.plan-type {
    display: flex;
    justify-content: center;
    border-bottom: 1px lightgray solid;
    padding: 7px 0;
    gap: 10px;
    align-items: center;
}

.plan-description {
    padding: 20px;
}

.btn-pricing {
    padding: 10px 45px;
    margin: 30px 0;
}

.underline-text {
    padding-bottom: 25px;
    border-bottom: 2px lightgray solid;
}

.long-row {
    justify-content: space-between;
    align-items: baseline;
}