/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */
body {
    font-family: "Open Sans", sans-serif;
}

/* Utils */
.flex {
    display: flex;
}

header {
    background-color: rgb(180, 208, 231);
    min-height: 500px;
    border: 2px dashed black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar */
.nav {
    min-height: 100px;
    border: 2px dashed black;
    background-color: white;
}