/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */
body {
    font-family: "Open Sans", sans-serif;
}

/* Utils */
.flex {
    display: flex;
}

img {
    max-width: 100%;
}

header {
    background-color: rgb(180, 208, 231);
    min-height: 500px;
    border: 2px dashed black;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar */
.nav {
    height: 100px;
    border: 2px dashed black;
    background-color: white;
}

#logo-small {
    height: 30px;
    padding-left: 10px;
}

.nav-left {
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.nav-left ul {
    align-items: baseline;
    gap: 40px;
}